<!DOCTYPE html>
<html>
<title>IIT Boarding House</title>
<head>
<meta charset="UTF-8">
	{% load staticfiles %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="{% static 'w3.css' %}" rel="stylesheet" type='text/css'>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link href="{% static 'w1.css' %}" rel="stylesheet" type='text/css'>
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type='text/css'>
	
<head>
<style>

body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
.w3-row-padding img {margin-bottom: 12px}
/* Set the width of the sidebar to 120px */
.w3-sidebar {width: 120px;background: #222;}
/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
#main {margin-left: 120px;background: #13001a}
/* Remove margins from "page content" on small screens */
</style>
<body class="w3-black">

<!-- Icon Bar (Sidebar - hidden on small screens) -->
<nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center">
  <!-- Avatar image in top left corner -->
  <a href="/" class="w3-bar-item w3-button w3-padding-large w3-black">
    <i class="glyphicon glyphicon-home fa-3x"></i>
    <p>HOME</p>
  </a>
  <a href="/add" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="glyphicon glyphicon-plus-sign fa-3x"></i>
    <p>Add</p>
  </a>
  <a href="/view" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="glyphicon glyphicon-list fa-3x"></i>
    <p>Manage Tenants</p>
  </a>

</nav>

<!-- Navbar on small screens (Hidden on medium and large screens) -->
<div class="w3-top w3-hide-large w3-hide-medium" id="myNavbar">
  <div class="w3-bar w3-black w3-opacity w3-hover-opacity-off w3-center w3-small">
    <a href="/" class="w3-bar-item w3-button" style="width:25% !important">HOME</a>
    <a href="/add" class="w3-bar-item w3-button" style="width:25% !important">Add</a>
    <a href="/view" class="w3-bar-item w3-button" style="width:25% !important">View All</a>
  </div>
</div>

<!-- Page Content -->
<div class="w3-padding-large" id="main">
  <!-- Header/Home -->
  <header class="w3-container w3-padding-32 w3-center w3-black" id="home">
    <h1 class="w3-jumbo"><span class="w3-hide-small">IIT</span> Boarding House Tenant</h1>
    <p>Add Tenant</p>
  </header><br><br>


 <div class="container" style="width:180px;">

    <div class="row">

                  <form action = "{% url 'add' %}" method = "POST">
					{% csrf_token %}
                    <div>
                      <font color="black"><input type="text" name="idnum" required/></font>Id Number<br><br>
                    </div>
                      <div >
                          <div >
                              <font color="black"><input type="text" name="fname" required/></font> Firstname<br><br>
                          </div>
                          <div >
                              <font color="black"><input type="text" name="mname" required/></font> Middlename<br><br>
                          </div>
                          <div >
                              <font color="black"><input type="text" name="lname" required/></font> Lastname<br><br>
                          </div>
                      </div>

                      <div >
                       <font color="black"><input type="text" name="address" required/></font> Home Address<br><br>
                      </div>
                      <div >
                       <font color="black"><input type="text" name="course" required/></font> Course<br><br>
                      </div>
                      <div  >
                      <font color="black"><input id="birthdate" name="birthdate" type="date" required/></font><label for="birthdate">Birth Date</label><br><br>
                      </div>
                      Gender:<br>
						<div >
                       <input type="radio" name="sex" value="Male" checked required/> Male
					   <input type="radio" name="sex" value="Female" required/>Female<br>
						</div>
                      <div ><font color="black"><br>
                          <input type="submit" value="Submit"></font>
                      </div>
                  </form>

    </div>

 </div>


<!-- END PAGE CONTENT -->
</div>

</body>
</html>
